#page {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 20px;
	max-width: 1100px;
	margin: auto;
}

.listingContainer {
	margin: 0 auto 0;
	border: 1px solid #eaecf0;
	border-radius: 15px;
}

.listingHead,
.listingContentRow {
	padding: 0.625rem;
	display: grid;
	grid-template-columns: 60px 100px 75px 1fr;
	gap: 5px;

	span {
		color: "#1b2559";
	}
}

.listingContentFirstRank,
.assignedPlaces,
.listingContentRowAssignedPlaces {
	display: none;
}

.listingHead {
	span {
		font-size: 12px;
		font-weight: 500;
	}
}

.listingContentRow {
	transition: all 0.2s ease-in-out;
	align-items: center;
	border-top: 0.0625rem solid #eaecf0;

	&[data-has-rank="true"] {
		&[data-would-have-it="true"] {
			background-color: #e6faf5;
		}
		&[data-would-have-it="false"] {
			background-color: #fffae9;
		}
	}

	.listingContentSpecialty {
		display: flex;
		gap: 4px;

		.listingContentSpecialtyFullName {
			display: none;
		}
	}

	.listingContentRowAssignedPlaces,
	.listingContentRowRemainingPlaces,
	.listingContentRowFirstRank,
	.listingContentRowLastRank {
		padding-left: 10px;
	}

	a {
		font-size: 12px;
		text-align: center;

		&:hover {
			font-weight: 500;
		}
	}

	&:nth-child(odd) {
		background-color: #f9fafb;
	}

	&:last-child {
		border-radius: 0 0 15px 15px;
	}
}

@media screen and (min-width: 576px) {
	.listingHead,
	.listingContentRow {
		grid-template-columns: 70px 120px 120px 100px 1fr;
	}

	.assignedPlaces,
	.listingContentRowAssignedPlaces {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.listingHead,
	.listingContentRow {
		padding: 0.625rem 1.25rem;
		gap: 15px;
		grid-template-columns: 1fr 120px 120px 90px 90px 100px;
	}

	.listingHead {
		span {
			font-size: 0.875rem;
			font-weight: 500;
		}
	}

	.listingContentFirstRank {
		display: block;
	}

	.listingContentRow {
		padding-top: 14px;
		padding-bottom: 14px;
		transition: all 0.2s ease-in-out;
		height: 49px;
		align-items: center;
		border-top: 0.0625rem solid #eaecf0;

		&:hover {
			transform: scale(1.01);
			z-index: 2;
		}

		a {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 992px) {
	.listingContentRow {
		.listingContentSpecialty {
			.listingContentSpecialtyFullName {
				display: block;
			}
		}
	}
}
