#page {
	max-width: 1100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	height: 100%;

	.allFieldsAreNotSelected {
		margin: auto;
		text-align: center;
	}
}

.goToSpecialties {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 30px;
	font-size: 14px;

	&:hover {
		font-weight: 500;
	}

	svg {
		position: relative;
		top: 1px;
		width: 18px;
		height: 18px;
	}
}

.listingContainer {
	margin: 25px 0 0;
	border: 1px solid #eaecf0;
	border-radius: 15px;
}

.listingHead,
.listingContentRow {
	padding: 0.625rem;
	display: grid;
	grid-template-columns: 80px 1fr 1fr;
	gap: 10px;

	span {
		color: "#1b2559";
	}
}

.listingHead {
	span {
		font-size: 12px;
		font-weight: 500;
	}
}

.listingContentRow {
	transition: all 0.2s ease-in-out;
	align-items: center;
	border-top: 0.0625rem solid #eaecf0;

	&[data-has-rank="true"] {
		&[data-would-have-it="true"] {
			background-color: #e6faf5;
		}
		&[data-would-have-it="false"] {
			background-color: #fffae9;
		}
	}

	&:nth-child(odd) {
		background-color: #f9fafb;
	}

	&:last-child {
		border-radius: 0 0 15px 15px;
	}
}

@media screen and (min-width: 768px) {
	.listingHead,
	.listingContentRow {
		padding: 0.625rem 1.25rem;
		gap: 20px;
		grid-template-columns: 100px 1fr 1fr;
	}

	.listingHead {
		span {
			font-size: 0.875rem;
			font-weight: 500;
		}
	}

	.listingContentRow {
		padding-top: 14px;
		padding-bottom: 14px;
		transition: all 0.2s ease-in-out;
		height: 49px;
		align-items: center;
		border-top: 0.0625rem solid #eaecf0;

		&:hover {
			transform: scale(1.01);
			z-index: 2;
		}

		a {
			font-size: 14px;
		}
	}
}
