.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.sumUp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 8px;
}

.cities {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 20px;
}

.cityCard {
	display: flex;
	flex-direction: column;
	gap: 10px;

	padding: 25px 20px;
	border-radius: 12px;
	border: 1px solid;
	border-color: #9bebd6;
	background-color: #e6faf5;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

	&:hover {
		border: 1px solid #05b98a;
		background-color: #05cd99;
	}

	&[data-would-have-it="false"] {
		border-color: #fddcab;
		background-color: #fff6ed;

		&:hover {
			border: 1px solid #ec4a0a;
			background-color: #fb6514;
		}
	}
}
