#page {
	padding: 1.25rem;
	max-width: 68.75rem;
	width: 100%;
	margin: auto;

	p {
		margin-top: 30px;
		text-align: center;
	}
}

.goBack {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 30px;
	font-size: 14px;

	&:hover {
		font-weight: 500;
	}

	svg {
		position: relative;
		top: 1px;
		width: 18px;
		height: 18px;
	}
}

.listingContainer {
	margin: 1.5625rem auto 0;
	border: 0.0625rem solid #eaecf0;
	border-radius: 15px;
}

.listingHead,
.listingContentRow {
	padding: 0.625rem;
	display: grid;
	grid-template-columns: 6.25rem 3.75rem 2.5rem 5rem;
	gap: 0.625rem;

	span {
		color: #1b2559;
	}
}

.listingContentFirstRank,
.listingContentMyRank {
	display: none;
}

.listingHead {
	span {
		font-size: 0.75rem;
		font-weight: 500;
	}
}

.listingContentRow {
	transition: all 0.2s ease-in-out;
	align-items: center;
	border-top: 1px solid #eaecf0;

	&:last-child {
		border-radius: 0 0 0.9375rem 0.9375rem;
	}

	&[data-would-have-it="true"] {
		background-color: #e6faf5;
	}
	&[data-would-have-it="false"] {
		background-color: #fffae9;
	}

	.listingContentRowCity {
		display: flex;
		flex-wrap: wrap;
	}

	.listingContentRowPlaces,
	.listingContentRowFirstRank,
	.listingContentMyRank,
	.listingContentRowLastRank {
		padding-left: 0.625rem;
	}

	a {
		font-size: 0.75rem;
		text-align: center;

		&:hover {
			font-weight: 500;
		}
	}
}

@media screen and (min-width: 48rem) {
	.listingHead,
	.listingContentRow {
		padding: 10px 20px;
		gap: 1.25rem;
		grid-template-columns: 15.625rem 9.375rem 6.25rem 6.25rem 6.25rem 6.25rem;
	}

	.listingHead {
		span {
			font-size: 14px;
			font-weight: 500;
		}
	}

	.listingContentFirstRank,
	.listingContentMyRank {
		display: block;
	}

	.listingContentRow {
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
		transition: all 0.2s ease-in-out;
		height: 4.375rem;
		align-items: center;
		border-top: 1px solid #eaecf0;

		&:hover {
			transform: scale(1.01);
			z-index: 2;
		}

		a {
			font-size: 0.875rem;
		}
	}
}
